* {
    background-color: red;
}

#das {
    font-size: 100px;
    color: yellow;
}

.first {
    background-color: green;
    color: white;
}

.second p::first-letter {
    color: blue;
    font-size: 2rem;
}